# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Production
dist/
# Environment variables
.env
.env.development.local

# Editor directories and files
.vscode/
.DS_Store
